__pycache__/
*.pyc
.env
.env.local
*.log
.DS_Store
node_modules/
.vscode/
.idea/
.sagemaker/
/tmp/
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.cache/
/.terraform/
*.tfstate
*.tfstate.*
*.iml
/build/
/dist/
.eggs/
*.egg-info/
/srv/
