fastapi==0.110.1
uvicorn[standard]==0.29.0
faster-whisper==1.2.0
ctranslate2==4.1.0
numpy==1.26.4
torchaudio==2.2.2
soundfile==0.12.1
av==12.1.0
httpx==0.27.0
nvidia-cudnn-cu12==8.9.7.29
python-multipart==0.0.9
prometheus-fastapi-instrumentator==6.1.0
